# Node
node_modules
*.log

# Mac OS X
.DS_Store

# Xcode

## Build generated
build/
DerivedData
dist
ts3.8
coverage

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata

## Other
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
.build/

# Carthage
Carthage/Build
Carthage/Checkouts

# CocoaPods
**/Pods
**/Podfile.lock

# Fastlane
appium/fastlane/test_output/
appium/fastlane/report.xml
appium/.env
appium/fastlane/README.md

# Appium

aws
test_bundle.zip
__pycache__
.cache
wheelhouse

# Android
.idea/

# Yalc
.yalc/
yalc.lock

# Yarn
.yarn

# E2E tests
/dev-packages/e2e-tests/react-native-versions
test/react-native/versions
node_modules.bak

# Created by Sentry Metro Plugin
.sentry/

# Yarn
.yarn/*
!.yarn/releases
!.yarn/plugins
.pnp.*

# Sentry React Native Monorepo
/packages/core/README.md
