*

# Included to the final package
!LICENSE.md
!CHANGELOG.md
!README.md
!/dist/**/*
!ts3.8/**/*
!RNSentry.podspec
!sentry.gradle
!react-native.config.js
!/ios/**/*
!/android/**/*
!src/js/NativeRNSentry.ts
!scripts/collect-modules.sh
!scripts/copy-debugid.js
!scripts/has-sourcemap-debugid.js
!scripts/sentry-xcode.sh
!scripts/sentry-xcode-debug-files.sh
