name: Build & Test

on:
  push:
    branches:
      - main
      - release/**
  pull_request:

jobs:
  job_test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3

      - uses: actions/cache@v3
        id: cache
        with:
          path: node_modules
          key: ${{ runner.os }}-${{ github.sha }}
      - name: Install Dependencies
        if: steps.cache.outputs['cache-hit'] != 'true'
        run: yarn install
      - name: Test
        run: yarn test

  job_lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/cache@v3
        id: cache
        with:
          path: node_modules
          key: ${{ runner.os }}-${{ github.sha }}
      - name: Install Dependencies
        if: steps.cache.outputs['cache-hit'] != 'true'
        run: yarn install
      - name: Lint
        run: yarn lint

  job_build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
      - uses: actions/cache@v3
        id: cache
        with:
          path: node_modules
          key: ${{ runner.os }}-${{ github.sha }}
      - name: Install Dependencies
        if: steps.cache.outputs['cache-hit'] != 'true'
        run: yarn install
      - name: Build
        run: yarn build
      - name: Pack
        run: yarn pack
      - name: Archive Artifacts
        uses: actions/upload-artifact@v3
        with:
          name: ${{ github.sha }}
          path: |
            ${{ github.workspace }}/*.tgz

  job_bundle:
    name: Bundle
    runs-on: ubuntu-latest
    needs: [job_test, job_build]
    strategy:
      # we want that the matrix keeps running, default is to cancel them if it fails.
      fail-fast: false
      matrix:
        platform: ['ios', 'android']
        dev: [true, false]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '14'
      - name: Cache Dependencies
        uses: actions/cache@v3
        id: cache
        with:
          path: node_modules
          key: ${{ runner.os }}-${{ github.sha }}
      - name: Cache Sample Dependencies
        uses: actions/cache@v3
        id: cache-sample
        with:
          path: sample/node_modules
          key: ${{ runner.os }}-${{ hashFiles('sample/yarn.lock') }}
      - name: Install Dependencies
        if: steps.cache.outputs['cache-hit'] != 'true'
        run: yarn install
      - name: Install Sample Dependencies
        if: steps.cache-sample.outputs['cache-hit'] != 'true'
        run: yarn install
        working-directory: sample
      - name: Build
        run: yarn build
      - name: Make Sample Build Directory
        run: mkdir build
        working-directory: sample
      - name: Bundle
        run: |
          yarn run react-native bundle \
          --entry-file index.js \
          --platform ${{ matrix.platform }} \
          --dev ${{ matrix.dev }} \
          --reset-cache \
          --bundle-output build/bundle.${{ matrix.platform }}.js \
          --sourcemap-output build/bundle.${{ matrix.platform }}.map
        working-directory: sample
