name: Changelog Preview
on:
  pull_request:
    types:
    - opened
    - synchronize
    - reopened
    - edited
    - labeled
    - unlabled
permissions:
  contents: write
  pull-requests: write

jobs:
  changelog-preview:
    uses: getsentry/craft/.github/workflows/changelog-preview.yml@1c58bfd57bfd6a967b6f3fc92bead2c42ee698ce # V2
    secrets: inherit
