name: Codegen

on:
  push:
    branches:
      - main
      - v5
      - release/**
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  diff_check:
    uses: ./.github/workflows/skip-ci.yml

  codegen:
    runs-on: ubuntu-latest
    needs: [diff_check]
    if: ${{ needs.diff_check.outputs.skip_ci != 'true' }}
    strategy:
      matrix:
        platform: ["android", "ios"]
        include:
          - platform: android
            command: |
              cd samples/react-native/android
              ./gradlew generateCodegenArtifactsFromSchema
          - platform: ios
            command: |
              cd samples/react-native/ios
              node ../node_modules/react-native/scripts/generate-codegen-artifacts.js \
                --path .. \
                --outputPath codegen \
                --targetPlatform ios
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - run: npm i -g corepack
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          package-manager-cache: false
          node-version: 18
          cache: 'yarn'
          cache-dependency-path: yarn.lock
      - uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: "adopt"
      - name: Gradle cache
        uses: gradle/gradle-build-action@v3
      - name: Install Dependencies
        run: yarn install
      - name: Codegen
        run: ${{ matrix.command }}
