name: Danger

on:
  pull_request:
    types: [opened, synchronize, reopened, edited, ready_for_review]

jobs:
  danger:
    runs-on: ubuntu-latest
    steps:
      - uses: getsentry/github-workflows/danger@17cc15eb58ea3687cd8f2714a4192dcee4aa09ef
        with:
          extra-dangerfile: scripts/check-additional-danger.js
          extra-install-packages: "curl unzip openjdk-17-jre-headless"
