name: End-to-End Tests

on:
  push:
    branches: [main]
  pull_request:

env:
  SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}

jobs:
  device-test:
    # Android emulator said to perform best with macos HAXM
    runs-on: macos-latest
    strategy:
      # we want that the matrix keeps running, default is to cancel them if it fails.
      fail-fast: false
      matrix:
        platform: ["ios", "android"]
    env:
      PLATFORM: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: "14"

      - uses: actions/setup-java@v3
        with:
          java-version: "11"
          distribution: "adopt"

      - name: Install Global Dependencies
        run: yarn global add @sentry/cli yalc

      - name: NPM cache
        uses: actions/cache@v3
        id: deps-cache
        with:
          path: |
            node_modules
            sample/node_modules
          key: ${{ github.workflow }}-${{ github.job }}-npm-${{ hashFiles('yarn.lock', 'sample/yarn.lock') }}

      - name: iOS cache
        if: ${{ matrix.platform == 'ios' }}
        uses: actions/cache@v3
        with:
          path: |
            sample/ios/Pods
            sample/ios/DerivedData
          # Note: we cannot use sample/ios/Podfile.lock because it's not source controlled.
          key: ${{ github.workflow }}-${{ github.job }}-ios-${{ hashFiles('yarn.lock', 'sample/yarn.lock') }}

      - name: Install Dependencies
        if: steps.deps-cache.outputs['cache-hit'] != 'true'
        run: yarn install

      - name: Build SDK
        run: yarn build

      - name: Package SDK
        run: yalc publish

      - name: Prepare sample for testing
        working-directory: ./sample
        run: sh ./scripts/prepareConfigsForTesting.sh

      - name: Install SDK in sample
        working-directory: ./sample
        run: yalc add @sentry/react-native

      - name: Install Sample Dependencies
        if: steps.deps-cache.outputs['cache-hit'] != 'true'
        working-directory: ./sample
        run: yarn install

      - run: pod install
        if: ${{ matrix.platform == 'ios' }}
        working-directory: ./sample/ios
        env:
          # TEST env var is used in podfile to determine whether to include the sentry SDK from relative path or node_modules.
          TEST: true

      - name: Build ${{ matrix.platform }} sample app
        if: env.SENTRY_AUTH_TOKEN != null
        working-directory: ./sample/${{ matrix.platform }}
        run: |
          if [[ "${{ matrix.platform }}" == "android" ]]; then
            ./gradlew :app:assembleRelease -PreactNativeArchitectures=x86
          else
            mkdir -p DerivedData
            defaults write com.apple.dt.Xcode ShowBuildOperationDuration YES
            buildArgs=('-destination' 'platform=iOS Simulator,name=iPhone 12' 'ONLY_ACTIVE_ARCH=yes' '-sdk' 'iphonesimulator' '-derivedDataPath' $(cd "DerivedData" ; pwd -P))
            echo "buildArgs = ${buildArgs[@]}"
            xcodebuild -workspace sample.xcworkspace -configuration Release -scheme sample "${buildArgs[@]}" build
            xcodebuild -project ../node_modules/appium-webdriveragent/WebDriverAgent.xcodeproj -scheme WebDriverAgentRunner GCC_TREAT_WARNINGS_AS_ERRORS=0 COMPILER_INDEX_STORE_ENABLE=NO "${buildArgs[@]}" build
          fi

      - name: Start Appium Server
        working-directory: ./sample
        run: yarn run appium --log-timestamp --log-no-colors --allow-insecure chromedriver_autodownload > appium.${{ matrix.platform }}.log &

        # Ping the Appium server to make sure its running, this way if it does fail it'll be easy to tell that this step failed and not the tests
      - name: Check Appium Server
        run: curl --output /dev/null --silent --head --fail http://127.0.0.1:4723/wd/hub/sessions

      - name: Run tests on Android
        if: ${{ matrix.platform == 'android' }}
        uses: reactivecircus/android-emulator-runner@d7b53ddc6e44254e1f4cf4a6ad67345837027a66 # v2.26.0
        with:
          api-level: 29
          working-directory: sample
          script: |
            $ANDROID_HOME/platform-tools/adb logcat '*:D' > adb-log.txt &
            sleep 5
            $ANDROID_HOME/platform-tools/adb shell su root "setprop ctl.restart zygote"
            sleep 10
            $ANDROID_HOME/platform-tools/adb devices -l
            yarn test --verbose

      - name: Run tests on iOS
        if: ${{ matrix.platform == 'ios' }}
        working-directory: ./sample
        run: yarn test --verbose

      - name: Upload logs
        if: ${{ always() }}
        uses: actions/upload-artifact@v3
        with:
          name: ${{ matrix.platform }}-logs
          path: ./sample/*.log

  metrics:
    runs-on: macos-latest
    strategy:
      # we want that the matrix keeps running, default is to cancel them if it fails.
      fail-fast: false
      matrix:
        platform: ["ios", "android"]
        include:
          - platform: ios
            name: iOS
            appPlain: test/perf/test-app-plain.ipa
          - platform: android
            name: Android
            appPlain: test/perf/TestAppPlain/android/app/build/outputs/apk/release/app-release.apk
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: "12"
      - uses: actions/setup-java@v3
        with:
          java-version: "11"
          distribution: "adopt"
      - name: Install Global Dependencies
        run: yarn global add react-native-cli @sentry/cli yalc
      - uses: actions/cache@v3
        id: deps-cache
        with:
          path: |
            node_modules
            test/perf/TestAppSentry/node_modules
          key: ${{ github.workflow }}-${{ github.job }}-${{ hashFiles('yarn.lock', 'test/perf/TestAppSentry/yarn.lock') }}
      - name: Install Dependencies
        if: steps.deps-cache.outputs['cache-hit'] != 'true'
        run: yarn install
      - name: Build SDK
        run: yarn build
      - name: Package SDK
        run: yalc publish
      - uses: actions/setup-node@v3
        with:
          node-version: "16"
      - uses: actions/cache@v3
        id: app-plain-cache
        with:
          path: ${{ matrix.appPlain }}
          key: ${{ github.workflow }}-${{ github.job }}-appplain-${{ hashFiles('test/perf/TestAppPlain/**') }}
      - name: Build app plain
        if: steps.app-plain-cache.outputs['cache-hit'] != 'true'
        working-directory: ./test/perf/TestAppPlain
        run: |
          yarn install
          cd ${{ matrix.platform }}
          if [[ "${{ matrix.platform }}" == "android" ]]; then
            ./gradlew assembleRelease
          else
            pod install
            cd ../..
            fastlane build_perf_test_app_plain
          fi
        env:
          APP_STORE_CONNECT_KEY_ID: ${{ secrets.APP_STORE_CONNECT_KEY_ID }}
          APP_STORE_CONNECT_ISSUER_ID: ${{ secrets.APP_STORE_CONNECT_ISSUER_ID }}
          APP_STORE_CONNECT_KEY: ${{ secrets.APP_STORE_CONNECT_KEY }}
          FASTLANE_KEYCHAIN_PASSWORD: ${{ secrets.FASTLANE_KEYCHAIN_PASSWORD }}
          MATCH_GIT_PRIVATE_KEY: ${{ secrets.MATCH_GIT_PRIVATE_KEY }}
          MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD }}
          MATCH_USERNAME: ${{ secrets.MATCH_USERNAME }}
      - name: Build app with Sentry
        working-directory: ./test/perf/TestAppSentry
        run: |
          yalc add @sentry/react-native
          yarn install
          cd ${{ matrix.platform }}
          if [[ "${{ matrix.platform }}" == "android" ]]; then
            ./gradlew assembleRelease
          else
            pod install
            cd ../..
            fastlane build_perf_test_app_sentry
            cd TestAppSentry
          fi
          # Remove after build so that the cache isn't invaldiated due to the changes in yarn.lock.
          yarn remove @sentry/react-native
        env:
          APP_STORE_CONNECT_KEY_ID: ${{ secrets.APP_STORE_CONNECT_KEY_ID }}
          APP_STORE_CONNECT_ISSUER_ID: ${{ secrets.APP_STORE_CONNECT_ISSUER_ID }}
          APP_STORE_CONNECT_KEY: ${{ secrets.APP_STORE_CONNECT_KEY }}
          FASTLANE_KEYCHAIN_PASSWORD: ${{ secrets.FASTLANE_KEYCHAIN_PASSWORD }}
          MATCH_GIT_PRIVATE_KEY: ${{ secrets.MATCH_GIT_PRIVATE_KEY }}
          MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD }}
          MATCH_USERNAME: ${{ secrets.MATCH_USERNAME }}
      - name: Collect apps metrics
        uses: getsentry/action-app-sdk-overhead-metrics@v1
        with:
          name: ${{ matrix.name }}
          config: ./test/perf/metrics-${{ matrix.platform }}.yml
          sauce-user: ${{ secrets.SAUCE_USERNAME }}
          sauce-key: ${{ secrets.SAUCE_ACCESS_KEY }}
