name: Native Tests

on:
  push:
    branches:
      - main
      - v5
      - release/**
  pull_request:
    types: [opened, synchronize, reopened, labeled]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  ready-to-merge-gate:
    name: Ready-to-merge gate
    uses: ./.github/workflows/ready-to-merge-workflow.yml
    with:
      is-pr: ${{ github.event_name == 'pull_request' }}
      labels: ${{ toJson(github.event.pull_request.labels) }}

  diff_check:
    needs: [ready-to-merge-gate]
    uses: ./.github/workflows/skip-ci.yml

  test-ios:
    name: ios
    runs-on: macos-15
    needs: [diff_check]
    if: ${{ needs.diff_check.outputs.skip_ci != 'true' }}
    steps:
      - uses: actions/checkout@v6

      - name: Enable Corepack
        run: npm i -g corepack
      - uses: actions/setup-node@v6
        with:
          package-manager-cache: false
          node-version: 18
          cache: 'yarn'
          cache-dependency-path: yarn.lock

      - name: Install SDK JS Dependencies
        run: yarn install

      - name: Install App Pods
        working-directory: packages/core/RNSentryCocoaTester
        run: pod install

      - name: Run iOS Tests
        working-directory: packages/core/RNSentryCocoaTester
        env:
          SCHEME: RNSentryCocoaTester
          CONFIGURATION: Release
          DESTINATION: 'platform=iOS Simulator,OS=latest,name=iPhone SE (3rd generation)'
        run: |
          env NSUnbufferedIO=YES \
            xcodebuild -workspace *.xcworkspace \
            -scheme $SCHEME -configuration $CONFIGURATION \
            -destination "$DESTINATION" \
            -quiet \
            test

  test-android:
    name: android
    runs-on: ubuntu-latest
    needs: [diff_check]
    if: ${{ needs.diff_check.outputs.skip_ci != 'true' }}
    steps:
      - uses: actions/checkout@v6

      - uses: ./.github/actions/disk-cleanup

      - uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'adopt'

      - name: Gradle cache
        uses: gradle/gradle-build-action@v3

      - name: Run unit tests
        working-directory: packages/core/RNSentryAndroidTester
        run: ./gradlew testDebugUnitTest

      - name: Setup KVM
        shell: bash
        run: |
          # check if virtualization is supported...
          sudo apt install -y --no-install-recommends cpu-checker coreutils && echo "CPUs=$(nproc --all)" && kvm-ok
          # allow access to KVM to run the emulator
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' \
            | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm

      - name: Run connected tests
        uses: reactivecircus/android-emulator-runner@b530d96654c385303d652368551fb075bc2f0b6b #pin@v2.35.0
        with:
          working-directory: packages/core/RNSentryAndroidTester
          api-level: 30
          force-avd-creation: false
          disable-animations: true
          disable-spellchecker: true
          target: 'aosp_atd'
          channel: canary # Necessary for ATDs
          emulator-options: >
            -no-window
            -no-snapshot-save
            -gpu swiftshader_indirect
            -noaudio
            -no-boot-anim
            -camera-back none
            -camera-front none
            -timezone US/Pacific
          script: |
            ./gradlew uninstallDebug uninstallDebugAndroidTest
            ./gradlew connectedCheck
