name: Build & Test

on:
  push:
    branches: [master]
  pull_request:

jobs:
  job_test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
      - name: Install
        run: yarn install
      - name: Test
        run: yarn test

  job_build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
      - name: Install
        run: yarn install
      - name: Build
        run: yarn build
      - name: Archive Build Artifacts
        uses: actions/upload-artifact@v2
        with:
          name: build
          path: dist/

  job_bundle:
    name: Bundle
    runs-on: ubuntu-latest
    needs: [job_test, job_build]
    strategy:
      matrix:
        platform: ["ios", "android"]
        dev: [true, false]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
      - name: Download Build Artifacts From Previous Job
        uses: actions/download-artifact@v2
        with:
          name: build
          path: dist
      - name: Install
        run: yarn install
      - name: Install in Sample
        run: yarn install
        working-directory: sample
      - name: Make Build Directory
        run: mkdir build
        working-directory: sample
      - name: Bundle
        run: |
          yarn run react-native bundle \
          --entry-file index.js \
          --platform ${{ matrix.platform }} \
          --dev ${{ matrix.dev }} \
          --reset-cache \
          --bundle-output build/bundle.${{ matrix.platform }}.js \
          --sourcemap-output build/bundle.${{ matrix.platform }}.map
        working-directory: sample
      - name: Archive Bundle Artifacts
        uses: actions/upload-artifact@v2
        with:
          name: bundle-${{ matrix.platform }}
          path: sample/build

  job_deploy:
    name: Zeus
    needs: job_build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
      - name: Install
        run: yarn install
      - name: Build
        run: yarn build
      - name: Pack
        run: yarn pack
      - name: Install Zeus
        run: |
          yarn global add @zeus-ci/cli
          echo "::add-path::$(yarn global bin)"
      - name: Upload to Zeus
        env:
          ZEUS_API_TOKEN: ${{ secrets.ZEUS_API_TOKEN }}
          ZEUS_HOOK_BASE: ${{ secrets.ZEUS_HOOK_BASE }}
        run: |
          zeus job update -b $GITHUB_RUN_ID -j $GITHUB_RUN_NUMBER -r $GITHUB_SHA
          zeus upload -b $GITHUB_RUN_ID -j $GITHUB_RUN_NUMBER -t "application/tar+npm" *.tgz
          zeus job update --status=passed -b $GITHUB_RUN_ID -j $GITHUB_RUN_NUMBER -r $GITHUB_SHA
